@import "variables.css";

.header-content {
  min-height: 30vh;
}

.author-avatar {
  border-radius: 5px;
  overflow: hidden;
  height: auto;
}

.author {
  padding: 40px 0;
}

@media (max-width: 820px) {
  .author-avatar {
    --size: 200px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
  }

  .author {
    padding: 0;
  }
}

.author-name {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0;
}

.author-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.author-item__link {
  font-size: 30px;
  opacity: 0.8;
  transition: 0.3s;
}

.author-item__link:hover {
  opacity: 1;
}

.author-desc {
  font-size: 18px;
}
