@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import "variables.css";

body {
  position: relative;
  font-family: "Inconsolata", monospace;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

/* header */
#header {
  position: relative;
  background-image: url("../images/home/header.jpg");
  background-position: 50% 50%;
  background-size: cover;
  overflow: hidden;
}

#header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    135deg,
    rgba(30, 33, 33, 0.82) 1%,
    rgba(32, 32, 32, 0.14) 98%
  );
  z-index: 0;
}

.header-navbar {
  position: relative;
}

.header-navbar.scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 9999;
}

.navbar,
.header-content {
  position: relative;
  z-index: 1;
}

.logo {
  font-size: 40px;
  font-weight: 700;
  font-family: "Dancing Script", cursive;
  color: var(--title-color);
}

.logo--small {
  font-size: 25px;
}

.logo:hover {
  color: var(--primary-color);
}

.navbar-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-list {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin-bottom: 0;
}

.navbar-item__link {
  display: inline-block;
  padding: 4px 15px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--title-color);
  opacity: 0.7;
  transition: all 0.5s ease 0s;
  transform: translateY(0);
  position: relative;
}

.navbar-item__link.active,
.navbar-item__link.active:hover {
  transform: translateY(0);
  opacity: 1;
}

.navbar-item__link:hover {
  color: var(--title-color);
  opacity: 1;
  transform: translateY(-2px);
}

.user {
  position: relative;
  color: var(--title-color);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  --size: 40px;
  width: var(--size);
  height: var(--size);
  border: 2px solid currentColor;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  transition: 0.3s;
}

.user:hover {
  color: var(--title-color);
  opacity: 1;
}

.header-content {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--title-color);
}

.header-title {
  font-size: 60px;
  font-weight: 400;
  line-height: 1.2;
}

.header-desc {
  opacity: 0.7;
  font-size: 20px;
}

@media (max-width: 576px) {
  .header-title {
    font-size: 40px;
    font-weight: 600;
  }

  .header-desc {
    font-size: 18px;
  }
}

.search {
  display: flex;
}

.search-input {
  flex: 1;
  padding: 8px 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
}

.search-input:focus {
  border: none;
  outline: none;
}

.search-btn {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  padding: 0 15px;
  color: var(--title-color);
  background-color: var(--primary-color);
  cursor: pointer;
}

/* content */
.content {
  padding: 60px 0;
  background-color: var(--content-color);
}

.content-user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.content-user__avatar {
  --size: 30px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  overflow: hidden;
}

.content-user__name,
.time {
  font-size: 14px;
  opacity: 0.8;
}

.post-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

/* content */
.content-title {
  display: inline-block;
  color: var(--text-color);
  border-bottom: 1px solid var(--gray-color);
  padding: 15px 0;
  font-size: 25px;
}

.content-category {
  position: absolute;
  top: 15px;
  left: 15px;
  display: inline-block;
  font-size: 14px;
  background-color: #a872b7;
  text-transform: uppercase;
  padding: 4px 8px;
  border-radius: 3px;
  font-weight: 500;
  color: var(--title-color);
  z-index: 3;
}

/* card box */
.card-box {
  text-align: center;
}

.card-content {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
}

.card-category {
  font-size: 13px;
}

.card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 3;
}

.card-link:hover ~ .card-img img {
  transform: scale(1.1);
}

.card-img {
  height: 180px;
  overflow: hidden;
}

.card-img img {
  position: relative;
  transform: scale(1);
  transition: all 0.3s ease 0s;
}

.card-text {
  background-color: #fff;
}

.card-text__box {
  padding: 10px;
  text-align: left;
}

.card-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

.card-desc {
  font-weight: 300;
  font-size: 16px;
  color: #7a7a7a;
  margin-bottom: 0;
  line-height: 1.1;
}

.card-text__author {
  padding: 10px;
  background-color: #fcfcfc;
  border-top: 1px solid var(--title-color);
}

/* footer */
#footer {
  background-color: #4d565d;
  background-image: linear-gradient(
      180deg,
      rgba(35, 47, 56, 0.47),
      rgba(35, 47, 56, 0.31) 99%
    ),
    url("../images/footer.jpg");
  background-position: 0px 0px, 50% 0px;
  background-size: auto, cover;
}

.footer-top {
  padding: 80px 0;
}

.footer-title {
  color: var(--title-color) !important;
  border-color: currentcolor !important;
}

.footer-form {
  margin-top: 20px;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
}

.footer-input {
  flex: 1;
  padding: 15px;
  border: none;
}

.footer-input:focus {
  border: none;
  outline: none;
}

.footer-btn {
  padding: 0 35px;
  border: none;
  font-size: 18px;
  color: var(--title-color);
  background-color: var(--btn-color);
  cursor: pointer;
  transition: 0.3s;
}

.footer-btn:hover {
  background-color: var(--primary-color);
}

.footer-end {
  background-color: rgba(0, 0, 0, 0.3);
}

.footer-copy {
  margin-bottom: 0;
  padding: 30px;
  font-size: 16px;
  color: var(--title-color);
}

@media (max-width: 576px) {
  .footer-form {
    flex-direction: column;
    gap: 10px;
  }

  .footer-input {
    border-radius: 5px;
  }

  .footer-btn {
    padding: 10px 35px;
    border-radius: 5px;
  }
}
